/*
     Saurabh Shukla 
     02/24/2021 
     ISTE646 Exercise 4 – JavaScript Part 1 

 */
 
 /* to set up body properties to override default settings */

body {
  margin-left:100px;
  font-family: "Trebuchet MS", Tahoma, Verdana;
  border: 2px solid lightblue;
  padding: 10px;
  border-radius: 25px;
  background-color: lightgoldenrodyellow;

}